<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body style="background-color: #7fbdea" >  </body>

<h1 style="background-color:#446191; color: antiquewhite;font-weight: bold; margin: auto; text-align: center; padding: 30px; border-radius: 45px; font-family: sans-serif"> Welcome to our shop </h1>>
<h2>You can bying some telefon </h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    Accusamus autem dolorem dolorum, esse natus nobis nostrum perferendis quisquam quo velit.
    Accusantium adipisci aspernatur dicta dolores facere fuga id illum inventore,
    laudantium nisi obcaecati perspiciatis provident qui rem totam unde veritatis.
    Adipisci aperiam ea fuga hic modi perferendis rem reprehenderit voluptate.</p>
<ol>
    <li>Samsung</li>
    <li>I phone</li>
    <li>Redmi</li>
</ol>

<ul>
    <li>Android</li>
    <li>IOS</li>
</ul>

<a href="Price/2" style="font-size: 40px;color: #321e5d; margin: auto;text-align:center;padding-left: 1200px; font-weight: bold" class="button"> Telefonlar</a>
</body>
</html>